*{
	margin-left: 0px;
	padding: 0px;
	border: none;
}
/*start nav*/
#dropdownMenuButton{
	width: 85px;
	height: 80%;
	background-color: transparent;
	border: none;
	color: #a0a0a0;
	font-family: arial;
	font-size: 12px;
	box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
.dropdown-menu{
	height: 80px;
	font-size: 12px;
	font-family: arial;
	
}
.fa-phone{
	font-size: 15px;
	color: #a0a0a0;
}
.contact{
	color: #a0a0a0;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	padding-left: 200px;	
}
.contact span{
	padding-right: 20px;
}
.login{
	color: #a0a0a0;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
a, span{
	color: #a0a0a0; 
}

.account{
	display: inline-block;
	text-decoration: none;
	
}
.account:hover i {
	color: #FFF;
}
.account:hover span{
	color: #FFF;

}
.account:hover a{
	text-decoration: none;
	
}

.fa-user{
	font-size: 15px;
	color: #a0a0a0;
	margin-right: 5px;
}
.register{
	display: inline-block;
}
.register:hover span{
	color: #FFF;
}
.register:hover a{
	text-decoration: none;
}
/*End nav*/
/*start content*/
.content1{
	 background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url(./nen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	/*width: 100%;*/
	height: 800px;
	z-index: 1;
}
.logo{
	margin-top: 10px;
	color: #FFFFFF;
	width: 253px;
	height: 56px
}
.tool a{
	padding: 0px 14px;

}
.tool span{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.tool i{
	border: 3px solid;
	padding: 7px; 
	color: #FFF;
}
.tool i:hover{
	background-color: #EAB830;

}
.tool a:hover{
	text-decoration: none;
}
.modal-content{
	background-color: transparent;
	border: none;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	display: flex;
	position: relative;
}
.input-group input{
	border-radius: 5px;
	padding: 30px;
	
	position: relative;
}
.search-submit{
	position: absolute;
	top: 0;
	right: 0;
	bottom: -20;
	width: 20px;
	height: 20px;
}
.submit{
	background-color: #EAB830;
	padding: 0px 20px;
}
.submit i{
	border: none;
	font-size: 25px;
}
@media (max-width: 1023px){

	.contact{
		display: none;
	}
	.nen{
		display: none;
	}
	.content1{
		width: 100%;
	}
}

/*@media (min-width: 768px)*/
